*.yml          eol=lf
*.qml          eol=lf
*.htm          eol=lf
*.html         eol=lf
*.js           eol=lf
*.css          eol=lf
*.txt          eol=text
*.tcl          eol=lf
*.cpp          eol=lf
*.cxx          eol=lf
*.gxx          eol=lf
*.hxx          eol=lf
*.lxx          eol=lf
*.pxx          eol=lf
*.igs          eol=lf
*.iges         eol=lf
*.stp          eol=lf
*.step         eol=lf
*.brep         eol=lf
*.rle          eol=lf
*.vrml         eol=lf
*.md           eol=lf
.gitignore     eol=lf
.gitattributes eol=lf
*.wasm         binary
*.stl          binary
*.7z           binary
*.pdf          binary
*.png          binary
*.jpg          binary
*.bmp          binary
*.gif          binary
*.xwd          binary
*.ico          binary
